<div>
    Sick people <b> @(sickPeople) </b>
</div>
<div>
    Healthy people <b> @(healthyPeople) </b>
</div>



@code {
    public ushort sickPeople  = 0;
    public ushort healthyPeople = 0;

    public async Task setNewData(ushort newSickPeople, ushort newHealthyPeople)
    {
        this.sickPeople = newSickPeople;
        this.healthyPeople = newHealthyPeople;
        await InvokeAsync(StateHasChanged);
    }
}
